<html>
<head>
<script>
var PREBID_TIMEOUT = 2000;

var googletag = googletag || {};
googletag.cmd = googletag.cmd || [];

function initAdserver() {
  if (pbjs.initAdserverSet) return;
  (function() {
    var gads = document.createElement('script');
    gads.async = true;
    gads.type = 'text/javascript';
    var useSSL = 'https:' == document.location.protocol;
    gads.src = (useSSL ? 'https:' : 'http:') +
    '//www.googletagservices.com/tag/js/gpt.js';
    var node = document.getElementsByTagName('script')[0];
    node.parentNode.insertBefore(gads, node);
  })();
  pbjs.initAdserverSet = true;
};
setTimeout(initAdserver, PREBID_TIMEOUT);

var pbjs = pbjs || {};
pbjs.que = pbjs.que || [];
(function() {
  var pbjsEl = document.createElement("script");
  pbjsEl.type = "text/javascript";
  pbjsEl.async = true; 
  pbjsEl.src = "prebid.js";
  var headEl = document.getElementsByTagName("head")[0];
  headEl.insertBefore(pbjsEl, headEl.firstChild);
})();

pbjs.que.push(function() {
  var adUnits = [{
    code: 'div-9968336-header-bid-tag-0',
    sizes: [[300, 250], [300, 600]],
    bids: [{
      bidder: 'appnexus',
      params: { placementId: '4799418' }
    }, {
      bidder: 'sovrn',
      params: { tagid: '123' }
    }]
  },{
    code: 'div-9968336-header-bid-tag1',
    sizes: [[728, 90], [970, 90]],
    bids: [{
      bidder: "rubicon",
      params: {
        rp_account: "4934",
        rp_site: "13945",
        rp_zonesize : '50983-15'
      }
    }]
  }];
  pbjs.addAdUnits(adUnits);
 
  pbjs.requestBids({
    bidsBackHandler: function(bidResponses) {
      initAdserver();
    }
  });
});

googletag.cmd.push(function() {
  var rightSlot = googletag.defineSlot('/19968336/header-bid-tag-0', [[300, 250], [300, 600]], 'div-gpt-ad-1438287399331-0').addService(googletag.pubads());

  var topSlot = googletag.defineSlot('/19968336/header-bid-tag1', [[728, 90], [970, 90]], 'div-gpt-ad-1438287399331-1').addService(googletag.pubads());

  pbjs.que.push(function() {
    pbjs.setTargetingForGPTAsync();
  });
  
  googletag.pubads().enableSingleRequest();
  googletag.enableServices();   
});

</script>
</head>

<body>
  <div id='div-9968336-header-bid-tag-0'>
    <script type='text/javascript'>
      googletag.cmd.push(function() { googletag.display('div-gpt-ad-1438287399331-0'); });
    </script>
  </div>

  <div id='div-9968336-header-bid-tag1'>
    <script type='text/javascript'>
      googletag.cmd.push(function() { googletag.display('div-gpt-ad-1438287399331-1'); });
    </script>
  </div>
</body>
</html>