<script type="text/javascript" src="https://www.google.com/jsapi">
</script>
<script type="text/javascript">
    google.load('visualization', '1', {
        packages: ['corechart', 'bar']
    });
</script>
<script src="{{ site.github.url }}/assets/js/pbjs-draw-log-diagram.js"></script>

<div class="row">
    <div class="col-sm-5 text-center">
        <iframe src="{{ site.github.url }}/examples/pbjs_demo.html" width="300" height="250" frameborder="0" scrolling="no" style="margin-top: 60px" id="demo-iframe"></iframe>
        <div class="row">
            <div class="col-sm-6 col-xs-6 pb-sm-right">
                <a href="{{ site.github.url }}/examples/pbjs_demo.html" class="btn btn-default btn-sm" target="_blank">Open in a new tab</a>
            </div>
            <div class="col-sm-6 col-xs-6 pb-sm-left">
                <script>
                    function refresh_iframe_ad() {
                        $('#demo-iframe').contents()[0].location.reload();
                        $('#chart_div').html('<img alt="loader gif" src="/assets/images/loader.gif">');
                        return false;
                    }
                </script>
                <a class="btn btn-primary btn-sm" target="_blank" onclick="refresh_iframe_ad()">Refresh this ad</a>
            </div>
        </div>
    </div>

    <div class="col-sm-7 text-center">
        <div id="chart_div">
            <img alt="loader gif" src="{{ site.github.url }}/assets/images/loader.gif">
        </div>
    </div>
    
</div>