
  <!-- Main navigation
  =========================================== -->
  <header class="navbar navbar-static-top bs-docs-nav" id="top">
    <div class="container">
      <div class="navbar-header" role="banner">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{site.github.url}}/">{{site.name}}</a>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">

          <li {% if page.top_nav_section == 'overview' %}class="active"{% endif %}>
            <a href="{{site.github.url}}/overview/intro.html">Overview
            </a>
          </li>          


          <li {% if page.top_nav_section == 'dev_docs' %}class="active"{% endif %}>
            <a href="{{site.github.url}}/dev-docs/getting-started.html">Dev Docs
            </a>
          </li>          

          <li {% if page.top_nav_section == 'adops' %}class="active"{% endif %}>
            <a href="{{site.github.url}}/adops.html">Adops
            </a>
          </li>

          <li {% if page.top_nav_section == 'support' %}class="active"{% endif %}>
            <a href="{{site.github.url}}/support/support.html">Support
            </a>
          </li>       

          <li {% if page.top_nav_section == 'download' %}class="active"{% endif %}>
            <!-- <a href="https://github.com/prebid/Prebid.js/releases">Download
            </a> -->
            <a href="{{site.github.url}}/download.html">Download
            <!-- <span class="badge">New</span> -->
            <span class="label label-warning">Beta</span>

            </a>
          </li>  

        </ul>

        <ul class="nav navbar-nav navbar-right">
        {% for p in site.headerLinks %}
          <li>
            <a href="{{p.url}}">{{p.title}}</a>
          </li>
        {% endfor %}
        </ul>
        
      </nav>
    </div>
  </header>
