
.bs-docs-nav .navbar-brand, .bs-docs-nav .navbar-nav>li>a {
  color: #444;
  font-weight: 400;
}

.bs-docs-masthead {
  padding-top:30px;
  padding-bottom:30px;
  margin-bottom:0px;
}

.bs-docs-masthead h1 {
  font-weight: 500;
  margin-bottom: 15px;
}

.bs-docs-masthead .version {
  color: white;
}

.bs-docs-masthead .btn.btn-default {
  color: #FF8800;
  background: #fefefe;
  border-color: white;
}

.bs-docs-masthead .btn.btn-default:hover {
  background: #eee;
}

.btn.btn-outline {
  color: #FF8800;
  border-color: #cccccc;
  
}

.btn.btn-outline:hover {
  color: white;
  background: #2ABBB0;
  background: #3b88c3;
  border-color: #2ABBB0;
  border-color: #3b88c3;
}


.bs-docs-masthead .note {
  font-size: 18px;
  color: white;
}

.bs-docs-featurette-title {
  font-weight: 300;
  margin-bottom: 15px;
  color: #444;
}

.bs-docs-featurette .col-sm-4 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.bs-docs-featurette .col-sm-4 p {
  margin-bottom: 15px;
}

.bs-docs-featurette h3 {
  font-weight: 500;
  color: #444;
}

.bs-docs-header {
  margin-bottom: 0px;
}
.bs-docs-header h1, .bs-docs-header p {
  margin-right:0px;
  color: white;
}

.bs-docs-sidebar .nav > li > a {
  font-size:15px;
}
.bs-docs-sidebar .nav .nav > li > a {
  font-size:14px;
}
.back-top-top {
  font-size:13px;
}

#content {
  position:relative;
}
.bs-docs-header#content:after {
  content:"";
  position:absolute;
  bottom:0px;
  right:0px;
  height:50px;
  width:30%;
  background:linear-gradient(135deg, transparent 50px, white 50px);
}

img {
  max-width: 100%;
}

.demo-setup img {
  max-width: 500px;
}

.full-rule {
  margin-top: 50px;
  margin-bottom: 50px;
}

.bs-docs-section h1 {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}

.pb-docs {
  padding-top: 50px;
  border-bottom: 0px;
  padding-bottom: 0px;
}

.pb-home img {
  height: 80px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.pb-home .bidder-logos img {
  width: auto;
  height: auto;
}

.pb-home .bidder-logos h3 {
  /*padding-top: 20px;
  padding-bottom: 20px;*/
  /*color: #2ABBB0;*/
  color: #3b88c3;
  /*font-size: 25px;*/
  font-weight: 300;
}

.bs-callout code {
  background-color: transparent;
}

.bs-docs-footer {
  margin-top: 60px;
}


.nav.nav-tabs {
  margin-bottom: 15px;
  font-weight: bold;
}

.bs-callout {
  padding-top: 0px;
  padding-bottom: 10px;
}