{% include head.html %}

{% include main_nav.html %}

<div class="container bs-docs-container">
  <div class="row">

    <div class="col-md-5">
      <div class="docs-sidebar">
        <div class="row">
          <div class="col-md-6">
            {% include left_nav.html %}
          </div>

          <div class="col-md-6">
            {% include example_tab.html %}
            <!-- </div> -->
          </div>
      </div>
    </div>
  </div>

  <div class="col-md-7" role="main">
    <div class="bs-docs-section" markdown="1">

      <h1>{{ page.description }} </h1>

      {% if page.why_link %}
        <h4>Who should use this example:</h4>

        <ul>
          <li>Please refer to the <a href="{{page.why_link}}" target="_blank">product feature launch notes</a>.</li>
        </ul>
      {% endif %}

      <h4>This page contains:</h4>

      <p>
        <ul>
          {% for about_bullet in page.about %}
            <li>{{ about_bullet}}</li>
          {% endfor %}
        </ul>
      </p>

      <p>

        On the example below, click the JSFiddle <strong>Result</strong> tab
        to see the result. Click <strong>Edit in JSFiddle</strong> to open
        the example in a new tab.

      </p>

      <p>
        For tips and troubleshooting info, see:
        <ul>
          <li>
            <a href="{{site.github.url}}/dev-docs/toubleshooting-tips.html">Tips for Troubleshooting</a>
          </li>
          <li>
            <a href="{{site.github.url}}/dev-docs/common-issues.html">Common Issues</a>
          </li>
        </ul>
      </p>

    </div>
  </div>

</div>

<br />

<div class="row">

{% unless page.use_old_example_style == false %}
<div class="col-sm-6">

<table class="jsfiddle-line-number">
<tr>
<td class="line-number">

{% for num in (1..page.code_lines) %}

{{ num }} <br/>

{% endfor %}

</td>

<td>


<iframe width="100%" height="{{page.code_height}}" src="//{{page.jsfiddle_link}}" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

</td>
</tr>
</table>

</div>
{% endunless %}

<div class="col-sm-6">


{% include dev-docs/build-from-source-warning.md %}

{{content}}

</div>

</div>

{% if page.use_old_example_style == false %}
  <br />

  <iframe width="100%" height="{{page.code_height}}" src="//{{page.jsfiddle_link}}" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
{% endif %}

</div>


{% include foot.html %}
