{% include head.html %}
{% include main_nav.html %}

<div class="container bs-docs-container">
    
    <div class="row">

        <!-- Left nav -->
        <div class="col-md-3">
            <div class="docs-sidebar">
                {% include left_nav.html %}
            </div>
        </div>

        <!-- Example tabs and main content -->
        <div class="col-md-9">
            <div class="row">

                <!-- Example tabs -->
                <div class="col-md-3">
                    <div class="docs-sidebar">
                        {% include example_tab.html %}
                    </div>
                </div>
                
                <!-- Main content -->
                <div class="col-md-9">
                    <div class="bs-docs-section" markdown="1">

                        <h1>{{ page.description }}</h1> 

                        {% if page.why_link %}
                            <h4>Who should use this example:</h4>
                            <ul>
                                <li>Please refer to the <a href="{{page.why_link}}" target="_blank">product feature launch notes</a>.</li>
                            </ul>
                        {% endif %}

                        <h4>This page contains:</h4>

                        <p>
                            <ul>
                                {% for about_bullet in page.about %}
                                    <li>{{ about_bullet}}</li>
                                {% endfor %}
                            </ul>
                        </p>

                        <p>
                            On the JSFiddle example below, click <strong>Result</strong> to see the result.
                        </p>

                        <p>
                            Click <strong>Edit in JSFiddle</strong> to open the example in a new tab.
                        </p>

                        <p>
                            For tips and troubleshooting info, see:
                            <ul>
                                <li>
                                    <a href="{{site.github.url}}/dev-docs/toubleshooting-tips.html">Tips for Troubleshooting</a>
                                </li>
                                <li>
                                    <a href="{{site.github.url}}/dev-docs/common-issues.html">Common Issues</a>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>

            </div>

            <div class="row">

                <!-- Build warning -->
                <div class="col-md-12">
                    {% include dev-docs/build-from-source-warning.md %}
                </div>

            </div>

            <div class="row">

                <!-- JSFiddle -->
                <div class="col-md-12">
                    <iframe width="100%" height="{{page.code_height}}" src="//{{page.jsfiddle_link}}" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
                </div>

            </div>

        </div>

    </div>

{% include foot.html %}