{% include head.html %}
{% include main_nav.html %}

<div class="bs-docs-masthead" id="content">
    <div class="container">
        <h1 class="home-title">{{site.name}}</h1>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <p class="lead">{{page.description}}</p>
            </div>
        </div>

        <a type="button" href="/overview/intro.html" class="btn btn-default btn-lg">Get Started</a>

        <div class="prebid-mobile-notice">
            <a type="button" class="btn btn-callout btn-lg" href="{{site.baseurl}}/prebid-mobile" target="_blank">Now with Mobile App Support!</a>
        </div>

    </div>
</div>

<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-12" role="main">
            {{content}}
        </div>

    </div>
</div>

{% include foot.html %}