{% include head.html %}

{% include main_nav.html %}

  <!-- Header
  =========================================== -->
  
  <div class="bs-docs-masthead" id="content">
    <div class="container">
      <h1 class="home-title">{{site.name}}</h1>
<!--       <p class="lead">{{page.description}}</p>
      <iframe src="{{ site.github.url }}/prebidjs-ad.html" width="300" height="220" frameborder="0" scrolling="no" style="border-radius: 5px"></iframe>   -->

      <div class="row" id="pb-home-demo">
        <div class="col-sm-5 col-xs-12">
          <iframe src="{{ site.github.url }}/prebidjs-ad.html" width="300" height="220" frameborder="0" scrolling="no" style="border-radius: 5px"></iframe>  
        </div>
        <div class="col-sm-7 col-xs-12">
            <p class="lead">{{page.description}}</p>          
            <a type="button" href="{{ site.github.url }}/getting-started.html" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-arrow-left"></i> Learn How To Build This Ad</a>
          
        </div>
      
      </div>

<!--       <p class="lead">
        <a type="button" href="{{ site.github.url }}/getting-started.html#download" class="btn btn-default btn-lg">Download</a>
      </p> -->
      <!-- <p class="version">Currently v{{site.version}}</p> -->
      <p class="note">pre-bid, aka. header bidding, advance bidding</p>

    </div>
  </div>



  <div class="container bs-docs-container">
    <div class="row">
      <!-- Content
      =========================================== -->
      <div class="col-md-12" role="main">
        {{content}}
      </div>

    </div>
  </div>

{% include foot.html %}