{% include head.html %}

{% include main_nav.html %}

  <!-- Header
  =========================================== -->

  <div class="bs-docs-header" id="content">
    <div class="container">
      <h1>{{page.title}}</h1>
      <p>{{page.description}}</p>
    </div>
  </div>


  <div class="container bs-docs-container">
    <div class="row">
      <!-- Content
      =========================================== -->
      <div class="col-md-9" role="main">
        {{content}}

        {% if page.show_disqus %}
          {% include disqus_addon.html %}
        {% endif %}

      </div>

      <!-- Page navigation
      =========================================== -->
      <div class="col-md-3">
        <div class="bs-docs-sidebar hidden-print">

          <div id="pbjs-inpage-nav" role="complementary">
            <h5>This Page</h5>
            <ul class="nav bs-docs-sidenav">
            </ul>
          </div>

          <h5>Related Posts</h5>
          <ul class="nav bs-docs-sidenav">

            {% for post in site.posts %}

              <li><a href="{{ post.url }}">{{ post.title }}</a></li>

            {% endfor %}

          </ul>

          <a class="back-to-top" href="#top">
            <i class="glyphicon glyphicon-chevron-up"></i> Back to top
          </a>
        </div>
      </div>
    </div>
  </div>


{% include foot.html %}
