{% include head.html %}
{% include main_nav.html %}

<div class="bs-docs-header" id="content">
    <div class="container">
        <h1>Prebid.org Blog</h1>
        <p>A collection of helpful tips for implementing header bidding with.</p>
    </div>
</div>

<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-9" role="main">
            <div class="bs-docs-section">
                <h1>{{page.title}}</h1> 
                {{content}}

                <div class="blog-related-posts">
                    <h4>You may also enjoy:</h4>
                    <ul>
                        {% for p in site.posts %}
                            {% if p.id == page.id %}
                                {% continue %} 
                            {% endif %}
                            <li><a href="{{ p.url }}">{{ p.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

            </div>

            {% include disqus_addon.html %}

        </div>

        <div class="col-md-3">
            <div class="bs-docs-sidebar hidden-print">

                <h5>Related Posts</h5>
                <ul class="nav bs-docs-sidenav">

                    {% for p in site.posts %} 
                        {% if p.id == page.id %} 
                            {% continue %} 
                        {% endif %}
                        <li><a href="{{ p.url }}">{{ p.title }}</a></li>
                    {% endfor %}

                </ul>

            </div>
        </div>
    </div>

</div>
{% include foot.html %}