name: Run unit tests on all browsers
on:
  workflow_call:
    inputs:
      chunks:
        description: Number of chunks to split tests into
        required: false
        type: number
        default: 1
      build-cmd:
        description: Build command, run once
        required: false
        type: string
      test-cmd:
        description: Test command, run once per chunk
        required: true
        type: string
      timeout:
        description: Timeout on test run
        required: false
        type: number
        default: 10
    outputs:
      coverage:
        description: Artifact name for coverage results
        value: ${{ jobs.collect-coverage.outputs.coverage }}
    secrets:
      BROWSERSTACK_USER_NAME:
        description: "Browserstack user name"
      BROWSERSTACK_ACCESS_KEY:
        description: "Browserstack access key"
jobs:
  setup:
    name: "Setup environment"
    runs-on: ubuntu-latest
    outputs:
      browsers: ${{ steps.define.outputs.browsers }}
      macos: ${{ steps.define.outputs.macos }}
      win: ${{ steps.define.outputs.win }}
      coverage: ${{ steps.define.outputs.coverage }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Define browsers
        id: define
        run: |
          echo 'browsers=["ChromeHeadless", "SafariNative", "FirefoxHeadless", "EdgeHeadless"]' >> out;
          echo 'macos=["SafariNative"]' >> out;
          echo 'win=["EdgeHeadless"]' >> out;
          echo 'coverage=["ChromeHeadless"]' >> out;
          cat out >> "$GITHUB_OUTPUT";

  build:
    uses: ./.github/workflows/build.yml
    with:
      build-cmd: ${{ inputs.build-cmd }}

  browser-tests:
    needs: [setup, build]
    name: "Browser: ${{ matrix.browser }}"
    strategy:
      fail-fast: false
      matrix:
        browser: ${{ fromJSON(needs.setup.outputs.browsers) }}
    uses:
      ./.github/workflows/run-tests.yml
    with:
      built-key: ${{ needs.build.outputs.built-key }}
      test-cmd: ${{ inputs.test-cmd }} --browsers ${{ matrix.browser }} ${{ contains(fromJSON(needs.setup.outputs.coverage), matrix.browser) && '--coverage' || '--no-coverage' }}
      chunks: ${{ inputs.chunks }}
      runs-on: ${{ contains(fromJSON(needs.setup.outputs.macos), matrix.browser) && 'macos-latest' || contains(fromJSON(needs.setup.outputs.win), matrix.browser) && 'windows-latest' || 'ubuntu-latest' }}
